<div class="gap-2 space-y-1">
    <a routerLink="/explore/countries" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
      class="flex px-4 py-3 rounded-md text-[20px] text-gray-500 hover:bg-[#24DB69] hover:text-white transition-all duration-300 cursor-pointer">
      Explore countries
    </a>
    <a routerLink="/explore/cities" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
      class="flex px-4 py-3 rounded-md text-[20px] text-gray-500 hover:bg-[#24DB69] hover:text-white transition-all duration-300 cursor-pointer">
      Explore cities
    </a>
</div>
